In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from yahoofinancials import YahooFinancials as yf
from datetime import date
from dateutil.relativedelta import relativedelta

## Step 1: Obtain and format data

In [2]:
end=datetime.today().strftime('%Y-%m-%d')
start = date.today() + relativedelta(days=-361)
start = start.strftime('%Y-%m-%d')

In [3]:
ticker = 'TSLA'
yahoo_financials = yf(ticker)
data = yahoo_financials.get_historical_price_data(start_date=start, 
                                                  end_date=end, 
                                                  time_interval='daily')

tsla_df = pd.DataFrame(data['TSLA']['prices'])
tsla_df = tsla_df.drop('date', axis=1).set_index('formatted_date')

tsla_df.head()

,adjclose,close,high,low,open,volume
formatted_date,,,,,,
2020-09-14,419.619995,419.619995,420.000000,373.299988,380.950012,83020600
2020-09-15,449.760010,449.760010,461.940002,430.700012,436.559998,97298200
2020-09-16,441.760010,441.760010,457.790009,435.309998,439.869995,72279300
2020-09-17,423.429993,423.429993,437.790009,408.000000,415.600006,76779200
2020-09-18,442.149994,442.149994,451.000000,428.799988,447.940002,86406800

## Step 2: log returns

In [2]:
tsla_df['log return'] = np.log(tsla_df.adjclose) - np.log(tsla_df.adjclose.shift(1))

NameError: name 'np' is not defined

In [1]:
tsla_df

NameError: name 'tsla_df' is not defined